<a href="https://colab.research.google.com/github/Anilamadhanu/Software-Engineering/blob/main/SE_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Assigning variables
a = 25
b = 50
print("values are:")
print("a =",a)
print("b = ",b)

values are:
a = 25
b =  50

In [ ]:
#input
name = input("Enter name:")
age = int(input("Enter age:"))
print ("Name:",name)
print("Age:",age)

Enter name:Anila
Enter age:20
Name: Anila
Age: 20

In [22]:
file_path = "/content/drive/MyDrive/SE_LAB/single_input.txt"

try:
    with open(file_path, "r") as file:
        data = file.read()
        print("Single input from file:")
        print(data)
except FileNotFoundError:
    print("Error: File not found")

Error: File not found

In [4]:
from google.colab import drive
drive.mount('/content/drive')

file_path = "/content/drive/MyDrive/SE_lab/single_input.txt"

try:
    with open(file_path, "r") as file:
        data = file.read()
        print("Single input from file:")
        print(data)
except FileNotFoundError:
    print("Error: File not found")

Mounted at /content/drive
Single input from file:
Hello, This is Anila

In [7]:
# Read from File (Multiple Inputs)

file_path = "/content/drive/MyDrive/SE_lab/multiple_input.txt"

try:
    with open(file_path, "r") as file:
        lines = file.readlines()
        print("Multiple inputs from file:")
        for line in lines:
            print(line.strip())
except FileNotFoundError:
    print("Error: File not found")

Multiple inputs from file:
Software Engineering Lab Task 2

Name: M.Anila
Roll No: 2023002910
Course: Software Engineering

In [10]:
# Use of print statements and use of (.format )for printing different data types.

a=str(input("Enter name: "))
b=int(input("Enter age: "))
c=str(input("Enter College: "))
d=float(input("Enter CGPA: "))

print("{} is of {} year old from {} and secured {} in her 10th".format(a,b,c,d))

Enter name: Anila
Enter age: 20
Enter College: gitam
Enter CGPA: 9.6
Anila is of 20 year old from gitam and secured 9.6 in her 10th

In [11]:
# Conversion of one unit to another
#g to kg
a=int(input("enter gram: "))
g=a*0.001
print(g)

#liter to ml
b=int(input("enter liter: "))
l=b*1000
print(l)

enter gram: 4
0.004
enter liter: 5
5000

In [12]:
# Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,

import math
print(math.ceil(1))
print(math.floor(4))
print(math.fabs(0))
print(math.trunc(2))
print(math.sqrt(9))

1
4
0.0
2
3.0

In [13]:
# Building a mathematical calculator that can perform operations according to user input.

a=int(input("Enter num1 = "))
b=int(input("Enter num2 = "))
operator = input("Enter the operator (+, -, *, /): ")
if operator=='+':
 print(a+b)
elif operator=='-':
 print(a-b)
elif operator=='*':
 print(a*b)
elif operator=='/':
 print(a/b)

Enter num1 = 5
Enter num2 = 5
Enter the operator (+, -, *, /): *
25

In [14]:
# Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range

def print_numbers_and_counts(start, end):
    even_count = 0
    odd_count = 0
    print("Even numbers:")
    for num in range(start, end + 1):
        if num % 2 == 0:
            print(num, end=" ")
            even_count += 1
    print("\nOdd numbers:")
    for num in range(start, end + 1):
        if num % 2 != 0:
            print(num, end=" ")
            odd_count += 1
    print("\nCount of even numbers:", even_count)
    print("Count of odd numbers:", odd_count)
start_range = int(input("Enter the start of the range: "))
end_range = int(input("Enter the end of the range: "))
print_numbers_and_counts(start_range, end_range)

Enter the start of the range: 0
Enter the end of the range: 30
Even numbers:
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30
Odd numbers:
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29
Count of even numbers: 16
Count of odd numbers: 15

In [15]:
# Accepting 5 different subject marks from user and displaying the grade of the student.

a=int(input("Enter marks of the first subject: "))
b=int(input("Enter marks of the second subject: "))
c=int(input("Enter marks of the third subject: "))
d=int(input("Enter marks of the fourth subject: "))
e=int(input("Enter marks of the fifth subject: "))
avg=a+b+c+d+e/5
if(avg>=90):
    print("Grade: A")
elif(avg>=80&avg<90):
    print("Grade: B")
elif(avg>=65&avg<80):
    print("Grade: C")
elif(avg>=55&avg<70):
    print("Grade: D")
elif(avg>=45&avg<50):
    print("Grade: E")
else:
    print("Grade: F")

Enter marks of the first subject: 30
Enter marks of the second subject: 35
Enter marks of the third subject: 25
Enter marks of the fourth subject: 29
Enter marks of the fifth subject: 15
Grade: A

In [17]:
# a)Compute the factorial of a given number

import math
num = int(input("enter a num: "))
factorial = math.factorial(num)
print("The factorial of", num, "is", factorial)

enter a num: 4
The factorial of 4 is 24

In [18]:
# b)Compute GCD of two given numbers

import math
a=int(input("enter num1= "))
b=int(input("enter num2= "))
print("The gcd of ",a ,"and",b,"is : ")
print(math.gcd(a,b))

enter num1= 23
enter num2= 15
The gcd of  23 and 15 is :
1

In [19]:
# c)Generate Fibonacci series up to N numbers

def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b
N =12
fibonacci(N)

0 1 1 2 3 5 8 13 21 34 55 89

In [20]:
# Compute compound interest using loop for a certain principal and interest amount

principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the annual interest rate (in %): "))
time = int(input("Enter the number of years: "))
rate /= 100
amount = principal
for i in range(time):
  amount = amount * (1 + rate)
compound_interest = amount - principal
print("Final amount:", amount)
print("Compound interest:", compound_interest)

Enter the principal amount: 2000
Enter the annual interest rate (in %): 10
Enter the number of years: 3
Final amount: 2662.0
Compound interest: 662.0

In [21]:
#accept a string and count the no. of upper and lower case characters

a=str(input("enter string:"))
lower=0
upper=0
for i in a:
  if(i.islower()):
     lower+=1
  else:
    upper+=1
print("The no. of lowercase char is: ",lower)
print("The no. of uppercase char is: ",upper)

enter string:AniLA
The no. of lowercase char is:  2
The no. of uppercase char is:  3